{% include 'header.html' %}
<div class="container">
    {% if role|safe=='1' or role|safe=='2' %}
        <div class="row">
            <h4><i class="fa fa-edit fa-fw"></i> <a href="{{ url_for('edit_article', user=user, role=role, title=title, article_host=article_host, article_text=article_details['article_text']) }}">Edit</a></h4>
        </div>
    {% endif %}
    <div class="row">
        <h3>Title: {{ title }}</h3>
        <hr>
        <h5>Created by: {{ article_details['created_by']|safe }}</h5>
    </div>
    <hr>
    <div class="row">
        <p>
            {{ article_details['article_text'] }}
        </p>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
