{% include 'header.html' %}
<div class="container">
    {% if success_in_writing is defined %}
        {% if success_in_writing=='1' %}
            <div class="row">
                <div class="alert alert-success col-md-12">
                    Article published.
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="alert alert-danger col-md-12">
                    Article not published. Error: {{ success_in_writing }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if success_in_editing is defined %}
        {% if success_in_editing=='1' %}
            <div class="row">
                <div class="alert alert-success col-md-12">
                    Article edit successful.
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="alert alert-danger col-md-12">
                    Article not edited. Error: {{ success_in_editing }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <h3>Articles</h3>
    {% if articles is defined %}
        {% for title in articles %}
            <div class="row">
                <div class="col-md-12">
                    <li>
                        <a href="{{ url_for('article_page', user=user, role=role, title=title, article_host=articles[title]) }}">{{ title|safe }}</a>
                    </li>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
