{% include 'header.html' %}
<div class="container">
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New article</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/new_article_submit" method="get">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Title" name="title" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <label>Text</label>
                                <textarea name='article_text' class="form-control" rows="6"></textarea>
                            </div>
                            <input type="hidden" name="user" value="{{ user }}">
                            <input type="hidden" name="role" value="{{ role }}">
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" class="btn btn-lg btn-success btn-block"></input>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
